services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      timeout: 5s
      retries: 5

  go-api:
    build:
      context: ./go-api
      dockerfile: Dockerfile
    container_name: go-api
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_URL: "amqp://guest:guest@rabbitmq:5672/"
      QUEUE_NAME: "messages"

  python-consumer:
    build:
      context: ./python-consumer
      dockerfile: Dockerfile
    container_name: python-consumer
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: "rabbitmq"
      QUEUE_NAME: "messages"

  go-random-messages:
    build:
      context: ./go-random-messages
      dockerfile: Dockerfile
    container_name: go-random-messages
    depends_on:
      rabbitmq:
        condition: service_healthy
      go-api:
        condition: service_started
    environment:
      QUOTES_URL: "https://southparkquotes.onrender.com/v1/quotes"
      MESSAGES_URL: "http://go-api:8080/messages"
